<%- include("partials/head.ejs") %>

<h1>Welcome to the Blog Creator!</h1>

<p>Here you can simulate creating posts, updating them and deleting them.</p>
<p>More how to do it in the first post!</p>

<%- include("partials/bottom.ejs") %>