<%- include("partials/head.ejs") %>

<h1>Which post do you want to change?</h1>

<ul>
    <% if(locals.tab) {%>
        <% tab.forEach(post => { %>
            <li><a href="/posts/update/<%= post.usertitle %>"><%= post.usertitle %></a></li>
        <% }); %>
    <%} %>
</ul>

<%- include("partials/bottom.ejs") %>