<%- include("../partials/head.ejs") %>

<div class="HowToDoIt">
    <h1>This site was focused on testing knowledge of creating servers and practising backend development.</h1>

    <p>To create post go to "create" tab in "manage" dropdown set title and type your article, both are required.</p>
    <p>To update one go to "update" tab in "manage" dropdown pick on that you want to change. Inputs are filled with previous content, so change it, submit and it's done.</p>
    <p>If you would like to delete post, go to "delete" tab in "manage" dropdown and pick one that you would like to see.</p>
    <p>This site doesn't have data base implemented yet, so all changes will be gone after refreshing site.</p>
    <p>Have fun!</p>
</div>

<%- include("../partials/bottom.ejs") %>